
 
  main{
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  .popup{
    position: fixed;
    top:0;
left:0;
width:100%;
height: 100vh;
background-color: brown;
display: flex;
justify-content: center;
align-items: center;
}

.pop{
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    background-color: beige;

}
.pop .btn{
    position: absolute;
    top: 16px;
    right:16px
}